<div class="{{ namespace }}indicators__fast-shipping {{ mix }}">
    <div class="{{ namespace }}indicators__fast-shipping-element {{ namespace }}indicators__fast-shipping-element--today" data-fs-scenario="today">{{ variants.today|raw }}</div>
    <div class="{{ namespace }}indicators__fast-shipping-element {{ namespace }}indicators__fast-shipping-element--tomorrow" data-fs-scenario="tomorrow">{{ variants.tomorrow|raw }}</div>
    <div class="{{ namespace }}indicators__fast-shipping-element {{ namespace }}indicators__fast-shipping-element--other" data-fs-scenario="other">{{ variants.other|raw }}</div>

    <input type="hidden" name="{{ namespace }}indicators__fast-shipping-labels" class="{{ namespace }}indicators__fast-shipping-labels" value="{{ timeLabels|json_encode() }}">
</div>
