{% set namespace = 'cs-' %}
{% set titleTag = 'h2' %}
{% set allProductsLabel = 'All products' %}

<div class="{{ namespace }}category-links {{ mix }}">
    <{{ titleTag }} class="{{ namespace }}category-links__title">
        {{ categories.main_category.name }}
    </{{ titleTag }}>

    <div class="{{ namespace }}category-links__dropdown {{ namespace }}category-links-dropdown">

        <div class="{{ namespace }}category-links__subtitle | {{ namespace }}category-links-dropdown__trigger">
            {{ allProductsLabel }}

            {% if shownumbers %}
            <span class="{{ namespace }}category-links__qty">
                ({{ categories.main_category.products_count }})
            </span>
            {% endif %}
        </div>

        <div class="{{ namespace }}category-links__list-wrapper | {{ namespace }}category-links-dropdown__content">
            <ul class="{{ namespace }}category-links__list">
                {% for category in categories.sub_categories %}
                    <li class="{{ namespace }}category-links__list-item {% if loop.index >= 5 %}cs-hide-tablet{% endif %}">
                        <a href="{{ category.url }}" class="{{ namespace }}category-links__link">
                            {{ category.name }}

                            {% if shownumbers %}
                            <span class="{{ namespace }}category-links__qty">
                                ({{ category.products_count }})
                            </span>
                            {% endif %}

                        </a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="{{ namespace }}category-links__list-all">
                <li class="{{ namespace }}category-links__list-all-item">
                    <a href="{{ categories.main_category.url }}" class="{{ namespace }}category-links__link">
                        {{ allProductsLabel }}


                        {% if shownumbers %}
                        <span class="{{ namespace }}category-links__qty">
                            ({{ categories.main_category.products_count }})
                        </span>
                        {% endif %}

                        <svg class="{{ namespace }}category-links__list-all-icon">
                            <use xlink:href="#icon_arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
