{% set namespace = 'cs-' %}
{% set mix = 'cs-button--type_more-content' %}

<a href="{{ target }}" class="{{ namespace }}button {{ mix }}">
    {{ label }}

    {% if products_count is not empty %}
    <span class="{{ namespace }}button__span">
        ({{ products_count }})
    </span>
    {% endif %}

    <svg class="cs-button__icon">
        <use xlink:href="#arrow_next"></use>
    </svg>
</a>
