<nav class="{{ namespace }}offcanvas-navigation {{ mix }}">
    <ul class="{{ namespace }}offcanvas-navigation__list {{ namespace }}offcanvas-navigation__list--current">
        {% if block('list') is defined %}
            {{ block( 'list' ) }}
        {% endif %}
    </ul>
</nav>
