{% set visibilityClass = '' %}
{% if componentVisibility and componentVisibility.mobile == false %}
    {% set visibilityClass = namespace ~ 'display-controller--hidden-mobile ' %}
{% endif %}
{% if componentVisibility and componentVisibility.desktop == false %}
    {% set visibilityClass = visibilityClass ~ namespace ~ 'display-controller--hidden-desktop ' %}
{% endif %}

<div class="{{ visibilityClass }}">
    <div class="{{ namespace }}brand-carousel {{ mix }}">
        <div class="{{ namespace }}brand-carousel__carousel">
            <div class="{{ namespace }}brand-carousel__wrapper">
                <ul class="{{ namespace }}brand-carousel__slides">

                    {% for brand in brands %}
                        <li class="{{ namespace }}brand-carousel__slide">
                            {% if linkBrands and brand.href %}
                                <a href="{{ brand.href }}" class="{{ namespace }}brand-carousel__slide-link">
                            {% endif %}

                                {% if brand.image.src %}
                                    <figure class="{{ namespace }}brand-carousel__figure">
                                        <img
                                            class="{{ namespace }}brand-carousel__image lazyload"
                                            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                            data-src="{{ brand.image.src }}"
                                            alt="{{ brand.image.alt }}"
                                            {% if brand.image.width %}width="{{ brand.image.width }}"{% endif %}
                                            {% if brand.image.height %}height="{{ brand.image.height }}"{% endif %}
                                        >
                                        <noscript>
                                            <img
                                                class="{{ namespace }}brand-carousel__image"
                                                src="{{ brand.image.src }}"
                                                alt="{{ brand.image.alt }}"
                                                {% if brand.image.width %}width="{{ brand.image.width }}"{% endif %}
                                                {% if brand.image.height %}height="{{ brand.image.height }}"{% endif %}
                                            >
                                        </noscript>
                                    </figure>
                                {% endif %}
                            {% if brand.href %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        {% if navigation.show %}
            <button class="{{ namespace }}brand-carousel__nav {{ namespace }}brand-carousel__nav--prev {{ navigation.icons.prev.mix }}" type="button">
                <svg class="{{ namespace }}brand-carousel__nav-icon"><use xlink:href="{{ navigation.icons.prev.src }}"></use></svg>
            </button>
            <button class="{{ namespace }}brand-carousel__nav {{ namespace }}brand-carousel__nav--next {{ navigation.icons.next.mix }}" type="button">
                <svg class="{{ namespace }}brand-carousel__nav-icon"><use xlink:href="{{ navigation.icons.next.src }}"></use></svg>
            </button>
        {% endif %}

        {% if pagination.show %}
            <ul class="{{ namespace }}brand-carousel__pagination {{ pagination.mix }}"></ul>
        {% endif %}
    </div>
</div>
