<ul class="{{ namespace }}items-grid-layout {{ mix }}">
    {% for item in items %}
        <li class="{{ namespace }}items-grid-layout__item {{ item.mix }}">
            {{ item.content }}
        </li>
    {% endfor %}
</ul>
