<select class="cs-select {{ mix }}" {{ params }}>
    {% if groups %}

        {% for group in groups %}
            <optgroup label="{{ group.label }}" {{ group.params }}>
            {% for option in group.options %}
                <option
                    value="{{ option.value }}"
                    {% if option.contentBefore %} data-content="{{ option.contentBefore }}"{% endif %}
                    {% if option.contentAfter %} data-content-after="{{ option.contentAfter }}"{% endif %} {{ option.params }}> {{ option.label }}</option>
            {% endfor %}
        {% endfor %}

    {% else %}

        {% for option in options %}
            <option
                value="{{ option.value }}"
                {% if option.contentBefore %} data-content="{{ option.contentBefore }}"{% endif %}
                {% if option.contentAfter %} data-content-after="{{ option.contentAfter }}"{% endif %} {{ option.params }}> {{ option.label }}</option>
        {% endfor %}

    {% endif %}
</select>
