<div class="{{ namespace }}cookie-message {{ mix }}">
    <p class="{{ namespace }}cookie-message__text">
        {% if icon.type == 'sprite' %}
            <svg class="{{ namespace }}cookie-message__icon {{ icon.mix }}"><use xlink:href="{{ icon.src }}"></use></svg>
        {% else %}
            <img class="{{ namespace }}cookie-message__icon {{ icon.mix }}" src="{{ icon.src }}" alt="{{ icon.alt }}">
        {% endif %}
        {{ text|raw }}
    </p>

    <button type="button" class="cs-button | {{ namespace }}cookie-message__button {{ button.mix }}">
        <span class="cs-button__span">{{ button.text|raw }}</span>
        {% if button.icon is defined %}
            <svg class="cs-button__icon {{ button.icon.mix }}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ button.icon.src }}"></use></svg>
        {% endif %}
    </button>
</div>
