<div class="{{ namespace }}grid-layout {{ mix }}" data-columns-configuration='{{ columnsConfiguration|replace({"\n":'', "\r":'', ' ':''}) }}' data-teasers-configuration='{{ teasersConfiguration|replace({"\n":'', "\r":'', ' ':''}) }}'>
    <ul class="{{ namespace }}grid-layout__grid {{ mix }}">
        {% for item in items %}
            <li class="{{ namespace }}grid-layout__brick {{ item.mix }}"{% if item.teaserId is defined %} data-teaser-id="{{ item.teaserId }}"{% endif %} {{ item.params }}>{{ item.content }}</li>
        {% endfor %}
    </ul>
</div>
