{% if useModal is defined and useModal == true %}
    <div class="{{ videoModalClass }} {{ videoModalMix }}" id="{{ videoModalId }}">
{% endif %}

    <div class="{{ namespace }}video-player {{ videoPlayerMix }}" id="{{ videoPlayerId }}"></div>

{% if useModal is defined and useModal == true %}
    </div>
{% endif %}
