<div class="{{ namespace }}input | {{ namespace }}qty-increment {{ mix }}">
    <input type="text" name="{{ name }}" size="{{ size }}" maxlength="{{ maxlength }}" pattern="[0-9]*" class="{{ namespace }}input__input | {{ namespace }}qty-increment__input" value="{{ initialValue }}" {{ inputParams}}>

    <button type="button" class="{{ namespace }}qty-increment__button {{ namespace }}qty-increment__button--decrement">
        <svg class="{{ namespace }}qty-increment__icon {{ namespace }}qty-increment__icon--minus"><use xlink:href="{{ icons.decrement }}"></use></svg>
    </button>

    <button type="button" class="{{ namespace }}qty-increment__button {{ namespace }}qty-increment__button--increment">
        <svg class="{{ namespace }}qty-increment__icon {{ namespace }}qty-increment__icon--plus"><use xlink:href="{{ icons.increment }}"></use></svg>
    </button>
</div>
