<div class="{{ namespace }}input | {{ namespace }}qty-increment {{ mix }}">
    <input type="number" name="{{ name }}" size="{{ size }}" class="{{ namespace }}input__input | {{ namespace }}qty-increment__input {{ inputMix }}" value="{{ initialValue }}" {% if minValue is defined %} data-min-value="{{ minValue }}"{% endif %}  {% if maxValue %} data-max-value="{{ maxValue }}"{% endif %} {{ inputParams | raw }}>

    <button type="button" class="{{ namespace }}qty-increment__button {{ namespace }}qty-increment__button--decrement">
        <svg class="{{ namespace }}qty-increment__icon {{ namespace }}qty-increment__icon--minus"><use xlink:href="{{ icons.decrement }}"></use></svg>
    </button>

    <button type="button" class="{{ namespace }}qty-increment__button {{ namespace }}qty-increment__button--increment">
        <svg class="{{ namespace }}qty-increment__icon {{ namespace }}qty-increment__icon--plus"><use xlink:href="{{ icons.increment }}"></use></svg>
    </button>
</div>
