<div class="{{ namespace }}star-rating {{ mix }}">
    <span class="{{ namespace }}star-rating__stars">
        {% for i in 0..maxStars - 1 %}
            {% if i < activeStars and i+1 > activeStars %}
                <i class="{{ namespace }}star-rating__star {{ namespace }}star-rating__star--half-active"></i>
            {% elseif i < activeStars %}
                <i class="{{ namespace }}star-rating__star {{ namespace }}star-rating__star--active"></i>
            {% else %}
                <i class="{{ namespace }}star-rating__star"></i>
            {% endif %}
        {% endfor %}
    </span>
    {% if text %}
        <span class="{{ namespace }}star-rating__text">{{ text|raw }}</span>
    {% endif %}
</div>
