<ul class="{{ namespace }}items-grid {{ mix }}">
    {% for item in items %}
        <li class="{{ namespace }}items-grid__item {{ item.mix }}">
            {{ item.content }}
        </li>
    {% endfor %}
</ul>
