{% set visibilityClass = '' %}
{% if componentVisibility and componentVisibility.mobile == false %}
    {% set visibilityClass = 'cs-display-controller--hidden-mobile ' %}
{% endif %}
{% if componentVisibility and componentVisibility.desktop == false %}
    {% set visibilityClass = visibilityClass ~ 'cs-display-controller--hidden-desktop ' %}
{% endif %}

<div class="{{ visibilityClass }}">
    <div class="cs-category-links{% if categories.sub_categories|length < 1 %} cs-category-links--no-subcats{% endif %} {{ mix }}" data-mage-init='{"collapsible":{"mediaQueryScope":"(max-width: 767px)"}}'>
        <h2 class="cs-category-links__title">{{ categories.main_category.name }}</h2>

        <div class="cs-category-links__dropdown cs-category-links-dropdown{% if categories.sub_categories|length < 1 %} cs-category-links-dropdown--no-subcats{% endif %}">
            {% if categories.sub_categories|length >= 1 %}
                <div class="cs-category-links__subtitle | cs-category-links-dropdown__trigger" data-role="title">
                    {{ translate('All Products') }}{% if shownumbers %} <span class="cs-category-links__qty">{{ categories.main_category.products_count }}</span>{% endif %}
                </div>
            {% endif %}


            <div class="cs-category-links__list-wrapper | cs-category-links-dropdown__content" data-role="content">
                {% if categories.sub_categories|length >= 1 %}
                    <ul class="cs-category-links__list">
                        {% for category in categories.sub_categories %}
                            {% set _loopIndex = loop.index %}
                            <li class="cs-category-links__list-item{% if _loopIndex >= 5 %} cs-hide-tablet{% endif %}">
                                <a href="{{ category.url }}" class="cs-category-links__link">
                                    {{ category.name }}{% if shownumbers %} <span class="cs-category-links__qty">{{ category.products_count }}</span>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <ul class="cs-category-links__list-all">
                    <li class="cs-category-links__list-all-item">
                        <a href="{{ categories.main_category.url }}" class="cs-category-links__link">
                            {{ translate('All Products') }}{% if shownumbers %} <span class="cs-category-links__qty">{{ categories.main_category.products_count }}</span>{% endif %}
                            <svg class="cs-category-links__list-all-icon">
                                <use xlink:href="#icon_arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
