{% set visibilityClass = '' %}
{% if componentVisibility and componentVisibility.mobile == false %}
    {% set visibilityClass = 'cs-display-controller--hidden-mobile ' %}
{% endif %}
{% if componentVisibility and componentVisibility.desktop == false %}
    {% set visibilityClass = visibilityClass ~ 'cs-display-controller--hidden-desktop ' %}
{% endif %}

<div class="{{ visibilityClass }}">
    <div class="cs-headline {{ mix }}">
        <{{ headingTag ?? 'h2' }} class="cs-headline__title">{{ title | raw }}</{{ headingTag ?? 'h2' }}>
        <p class="cs-headline__subtitle">{{ subtitle | raw }}</p>
    </div>
</div>
