<div class="{{ namespace }}offcanvas {{ mix }}">
    <div class="{{ namespace }}offcanvas__overlay"></div>
    <div class="{{ namespace }}offcanvas__drawer">
        {{ block( 'drawer' ) }}
    </div>
</div>
